body {
	font-family: 'Montserrat', Poppins;
	background: #C0C0C0;
}

h1 {
	font-family: Poppins;
	color: #836FFF;
}

h2 {
	color: #836FFF;
	margin: 0 0 5px 0;
}

#banner {
	width: 90%;
	border: 5px solid #483D8B;
	border-radius: 10px;
}

#consoles{
	opacity: 0.7;
	transition: 500ms;
}

#consoles:hover {
	opacity: 1;
}

.centralizar {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

#imagemcontrolesnes {
	width: 30%;
}

/* Pagina consoles */

.console_main {
	width: 100%;
}

#logo {
	height: 100px;

}

header {
	background: #363636;
	height: 100px;
	border: 5px solid #483D8B;
	border-radius: 10px;
}

nav {
	position: absolute;
	top: 38px;
	right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	font-style: sans-serif;
	color: white;
}

nav a:hover {
	color: skyblue;
}

nav a:active {
	color: #483D8B;
}

.galeria {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0 0 40px -20px;
}

.imagem-container {
	width: 400px;
	height: 300px;
	overflow: hidden;
	margin-right: 15px;
	position: relative;
	border: 5px solid #483D8B;
	border-radius: 10px;
}

.imagem-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

#imagem {
	width: 80%;
	filter: saturate(10%);
	transition: 2000ms;
}

#imagem:hover {
	filter: saturate(100%);
}

.descricao {
	width: 400px;
	text-align: justify;
	font-size: 15px;
	color: #555;
	margin-top: 5px;
	color: #836FFF;
	font-weight: bold;
}

footer {
	text-align: center;
	background: url("imgs/copyright.jpeg")  center;
	border-radius: 20px;
	overflow: hidden;
	border: 5px solid #483D8B;
}

#rodapelogo {
	margin-top: 50px;
	width: 20%;
	border: 5px solid #483D8B;
	border-radius: 5px;
}

.copy {
	font-weight: bold;
	font-size: 15px;
	color: white;
}

/* Pagina contato */

.contato_main {
	width: 940px;
	margin: 0 auto;
}

form label, form p {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
    display: inline-flex;
    align-items: center;  
    margin-right: 15px;  
}

.input-padrao input[type="radio"] {
    margin-right: 5px; 
    width: auto; 
    padding: 0;
}

.radio-group {
    display: flex;
    align-items: center; 
}

.checkbox {
	margin: 10px 0 0 10px;
	display: inline-flex;
	width: 20px;
}

form input, form textarea {
	display: block;
	margin: 0 0 20px;
	padding: 10px 20px;
	width: 50%;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: #483D8B;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
}

.enviar:hover {
	background: blue;
}

/* pagina de games */

table {
    width: 70%;
    border-collapse: collapse;
    font-family: Poppins;
    margin-bottom: 40px;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
th, td {
    background-color: white;
}

tbody tr:hover td {
    background-color: gray;
}

.centralizargame {
    display: flex;          
    flex-direction: column;  
    align-items: center;     
    width: 100%;            
}

.caixagames {
    width: 70%;              
    margin: 20px auto;      
    text-align: center;      
}
#games {
	font-family: Poppins;
	text-align: justify;
	font-size: 20px;
}

#gameslink {
	
	color: black;
	text-decoration: none;
}

#gameslink:hover {
	color: darkred;
}

iframe {
	margin: 40px;
	border: 5px solid #483D8B;
	border-radius: 10px;
}

/* Conteudo index */
.cont {
	display: flex;          
	flex-direction: column;  
	align-items: center;
	width: 50%;              
    margin: 20px auto;      
    text-align: center;
	text-align: justify;      
}

#conteudonovo {
	width: 150%;
	border: solid 2px #483D8B;
	border-radius: 15px;        
}

@media screen and (max-width: 480px) {
	body {
		background: red;
	}

	#logo{
		width: auto;
		display: inline-block;
	}

	nav{
		top: -5px;
		right: 20px;
	}

	nav a{
		font-size: 15px;
	}
	nav li{
		display: block;
	}
	.cout{
		width: auto;
	}
	#conteudonovo{
		width: 150%;
	}
	#rodapelogo{
		width: 50%;
	}
	.galeria{
		display: block;
	}
	.imagem-container{
		width: auto;
	}
	.contato_main{
		width: auto;
	}
	form input, form textarea {
	width: 80%;
	}
	.enviar {
		width: 60%;
	}
	table {
    width: auto;
    border-collapse: collapse;
    font-family: Poppins;
    margin-bottom: 40px;
	}
	th, td {
	    padding: 12px;
	    border: 1px solid #ddd;
	    text-align: left;
	}
	th, td {
	    background-color: white;
	}

	tbody tr:hover td {
	    background-color: gray;
	}

	.centralizargame {
    display: flex;
    justify-content: center;  /* Garante que o conteúdo fique centralizado */
    flex-wrap: wrap;          /* Permite que os itens se movam para uma nova linha quando necessário */
    width: auto;
    align-items: center;     
            
	}
	.caixagames {
	    width: 90%;                
	    margin-left: 5%;    
	    text-align: center;      
	}
	iframe {
		margin: 10px;
		border: 5px solid #483D8B;
		border-radius: 10px;
		width: auto;
	}
}
